@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* Oбнулення */

html,
body {
   margin: 0;
   padding: 0;
   background-color: black;
   height: 100%;
   font-size: 10px;
   
}

ul {
   margin: 0;
   padding: 0;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
   color: inherit;
}
/* !=+++++++++++++++++++++++++++++++ */

/* !+++++++++++++++++++++++++++++++++++++ */
#root {
   font-family: 'Russo One', sans-serif;
   font-size: 2rem;
   line-height: 1.7rem;
   color: #fff;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.header {
   /* position: fixed; */
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;
   min-height: clamp(5rem, 7.41vw, 8rem);
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-color: rgba(0, 0, 0, 0.5); */
}
.header__nav {
   padding: 1rem;
}
.header__items {
   display: flex;
   gap: clamp(1rem, 4.63vw, 5rem);
   flex-wrap: wrap;
   transition: all 0.5s ease;
}
.header__item {
   transform: translateY(-70px);
   animation: animate 3s linear 1 forwards;
}
@keyframes animate {
   0% {
      transform: translateY(-70px);
   }
   30% {
      transform: translateY(0px);
   }
   50% {
      transform: translateY(-20px);
   }
   60% {
      transform: translateY(0px);
   }
   70% {
      transform: translateY(-10px);
   }
   80% {
      transform: translateY(0px);
   }
   90% {
      transform: translateY(-5px);
   }
   100% {
      transform: translateY(0px);
   }
}
.header__item:nth-child(1) {
   animation-delay: 0s;
}
.header__item:nth-child(2) {
   animation-delay: 0.3s;
}
.header__item:nth-child(3) {
   animation-delay: 0.8s;
}
.header__item:nth-child(4) {
   animation-delay: 1.2s;
}
.header__item:nth-child(5) {
   animation-delay: 1.5s;
}
.header__link {
   position: relative;
   letter-spacing: 1px;

   border-right: 3px solid transparent;
   border-left: 3px solid transparent;
   padding: 3px;
   box-sizing: border-box;
}
.header__link:hover {
   border-right: 3px solid white;
   border-left: 3px solid white;
}

.header__link::after {
   content: "";
   width: 0%;
   height: 3px;
   background-color: white;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: all 0.5s ease;
}

.header__link::before {
   content: "";
   width: 0%;
   height: 3px;
   background-color: white;
   position: absolute;
   top: 0;
   right: 0;
   transition: all 0.5s ease;
}
.header__link:hover::after {
   width: 100%;
}
.header__link:hover::before {
   width: 100%;
}

/*! +++++++++++++++++++++++ */
main {
   flex: 1 1 auto;
   overflow: hidden;
   background: url("../../img/stars.png") repeat top center;
}
/* зорі плюс евект сіяння  */
.twinkling {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   display: block;
   background: transparent url("../../img/twinkling.png") repeat center;
   z-index: 0;
   transition: all 0.8s ease;
   animation: move-twinkle 200s linear infinite;
}
@keyframes move-twinkle {
   from {
      background-position: 0 0;
   }
   to {
      background-position: -10000px 5000px;
   }
}
/* !1111111111+++++++++++++++++++++++++++++++++++++ */
.frame {
   min-height: 100vh;
   display: flex;
}
.frame1 {
   position: relative;
}
.box-frame1 {
   position: relative;
   /* width: 100%;
   height: 100%; */
   width: 100%;
   max-width: 1728px;
   margin: 0 auto;
   display: flex;
   flex: 1 1 auto;
   justify-content: space-between;
   align-items: center;
}
.frame1__contant {
   width: clamp(13.7rem, 23.9%, 25.9%);
   font-size: clamp(3.2rem, 5.56vw, 9.6rem); /* desired_percentage = (96 / 1728) * 100 ≈ 5.56 */
   line-height: 85% /* clamp(2.5rem, 4.8vw, 8.3rem) */;
   margin-left: clamp(1.6rem, 9.66vw, 16.7rem);
   background-image: linear-gradient(#dadada 33.67%, rgba(218, 218, 218, 20%));
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   color: transparent;

   z-index: 2;
   transform: translateX(100vw);
   transition: transform 0.8s ease;
   animation: move-text 3s ease 1 forwards 3s;
}
@keyframes move-text {
   0% {
      transform: translateX();
   }
   100% {
      transform: translateX(0%);
   }
}
.img-space {
   width: clamp(220px, 55%, 55.38vw);
   position: absolute;
   right: 25%;
   top: 12%;
   transform: scale(0.2);
   z-index: 3;
   transition: all 0.8s ease;
   animation: planet 3s ease 1 forwards 3s;
}
@keyframes planet {
   0% {
   }
   100% {
      transform: scale(1);
      right: -8rem;
      top: 3.5rem;
   }
}
.box-arrow {
   width: 7rem;
   height: 7rem;
   position: absolute;
   bottom: 3rem;
   left: calc(50% - 3.5rem);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 4;
}
.🔫 {
   background-color: rgba(61, 75, 88, 0);
}
.arrow {
   width: clamp(3.5rem, 4.05vw, 7rem);
   height: 7rem;
   position: relative;
   opacity: 0;
   animation: opacity-arrow 3s ease forwards 5s;
   transition: opacity 0.8s ease;
   pointer-events: none;
   cursor: pointer;
}

@keyframes opacity-arrow {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
      pointer-events: auto;
   }
}

.arrow::after,
.arrow::before {
   content: "";
   width: clamp(22px, 2.48vw, 43px);
   height: clamp(5px, 0.58vw, 10px);
   background-color: #fff;
   border-radius: 42px;
   position: absolute;
   top: 3.2rem;
   animation: jamp-arrow 1s linear infinite;
}
@keyframes jamp-arrow {
   from {
      top: 3.2rem;
   }
   50% {
      top: 2rem;
   }
   to {
      top: 3.2rem;
   }
}
.arrow::before {
   transform: rotate(40deg);
   left: 0;
}
.arrow::after {
   right: 0;
   transform: rotate(-40deg);
}
/*!2222222++++++++++++++++++++++++++++++++ */
.frame2 {
   position: relative;
}

.box-frame2 {
   overflow: hidden;
   max-width: 1728px;
   margin: 0 auto;
   flex: 1 1 auto;
   display: flex;
}

.box__content {
   width: 100%;
   padding: 1.6rem;
   margin: 0 auto;
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   gap: clamp(2rem, 2.49vw, 4.3rem);
}

.frame2-img {
   width: 100%;
   z-index: 5;
   transform: scale(0);
   transition: all 0.8s ease;
}
.frame2._active > .box-frame2 > .box__content > .frame2-img {
   transform: scale(1);
}

.frame2__contant {
   z-index: 5;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   gap: 2.7rem;
}
.f2__contant-title {
   font-size: clamp(3.5rem, 2.78vw, 4.8rem);
   line-height: 85.5%; /* (lin-hight / font-size * 100) = 85.4% */
   letter-spacing: 1px;
   transform: translate(120%, 0);
   transition: all 1s ease;
   overflow: hidden;
}

@media (min-width: 768.98px) {
   .box__content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }
   .frame2-img {
      max-width: 35%;
   }
   .frame2__contant {
      max-width: 33.56%;
      min-width: 400px;
      display: flex;
      flex-flow: column;
      margin-right: 1rem;
   }
}

.f2__contant-subtitle {
   transform: translate(0px, 120%);
   transition: all 0.8s ease;
}

.frame2._active > .box-frame2 > .box__content > .frame2__contant > .f2__contant-title {
   transform: translate(0px, 0px);
}
.frame2._active > .box-frame2 > .box__content > .frame2__contant > .f2__contant-subtitle {
   /* transition: all .8s ease 2s; */
   transform: translate(0px, 0px);
}

.img-space._planetDown {
   animation: planetDown 4s ease forwards;
   transition: all 2s ease;
}
.img-space._planetUp {
   animation: planetUp 3s ease forwards;
   transition: all 2s ease;
}
.img-space._planetDown2 {
   transition: all 3s ease;
   animation: planetDown2 2s ease forwards;
}
@keyframes planetDown2 {
   0% {
   }
   100% {
      transform: scale(1);
      top: 60vh;
      right: -16rem;
      transition: all 2s ease;
   }
}
@keyframes planetDown {
   0% {
      transform: scale(1);
      top: 3.5rem;
      right: -8rem;
   }
   100% {
      transform: scale(1);
      top: 60vh;
      right: -16rem;
      transition: all 2s ease;
   }
}
@keyframes planetUp {
   0% {
      transform: scale(1);
      top: 60vh;
      right: -16rem;
   }
   100% {
      transform: scale(1);
      top: 3.5rem;
      right: -8rem;
   }
}
/* !+++++++++++++++++ */
::-webkit-scrollbar {
   width: 4px;
}
::-webkit-scrollbar-track {
   background-color: rgba(0, 0, 0, 0);
}

/* Стилізація "ползунка" */
::-webkit-scrollbar-thumb {
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 4px;
}

/* Задання ширини "ползунка" */
::-webkit-scrollbar-thumb {
   width: 4px;
}
